service: click-sls-py-alexa-color-picker

provider:
  name: aws
  runtime: python3.8
  stage: dev
  region: us-east-1
  lambdaHashingVersion: 20201221


functions:
  colorPicker:
    handler: alexa_skills.color_picker.lambda_handler
    events:
      - alexaSkill: ${file(./config/env_${self:provider.stage}.json):ALEXA_SKILL_ID}


plugins:
  - serverless-alexa-skills
  - serverless-python-requirements

custom:
  pythonRequirements:
    dockerizePip: false
  alexa:
    vendorId: ${file(./config/env_${self:provider.stage}.json):AMAZON_VENDOR_ID}
    clientId: ${file(./config/env_${self:provider.stage}.json):AMAZON_CLIENT_ID}
    clientSecret: ${file(./config/env_${self:provider.stage}.json):AMAZON_CLIENT_SECRET}
    localServerPort: 3000
    skills:
      - id: ${file(./config/env_${self:provider.stage}.json):ALEXA_SKILL_ID}
        manifest:
          publishingInformation:
            locales:
              en-US:
                name: ColorPicker
          apis:
            custom:
              endpoint:
                uri: arn:aws:lambda:us-east-1:${file(./config/env_${self:provider.stage}.json):AWS_ACCOUNT}:function:click-sls-py-alexa-color-picker-${self:provider.stage}-colorPicker
          manifestVersion: '1.0'
        models:
          en-US:
            interactionModel:
              languageModel:
                invocationName: color picker
                intents:
                - name: WhatsMyColorIntent
                  samples:
                      - "tell me what is my favorite color"
                      - "whats my favorite color"
                      - "say my color"
                      - "say my favorite color"
                      - "tell me my favorite color"
                      - "what is my favorite color"
                      - "what is my color"
                      - "whats my color"
                - name: MyColorIsIntent
                  slots:
                      - name: Color
                        type: AMAZON.Color
                  samples:
                      - "My color is {Color}"
                      - "my favorite color is {Color}"
                - name: AMAZON.HelpIntent
                  samples:
                - name: AMAZON.CancelIntent
                  samples:
                - name: AMAZON.StopIntent
                  samples:
                - name: AMAZON.FallbackIntent
                  samples:
package:
  exclude:
    - node_modules/**
    - venv/**
    - handler.py1
    - help/**
    - .gitignore
    - help/**
    - .idea/**
    - .dynamodb/**
    - __pycache__
    - tests/**
    - package.json
    - README.md